<div class="container ">
  <div class="row mt-5">
      <div class="col  d-flex justify-content-center">
          <div class="card">
              <div class="card-body ">
                <h1 class="card-title d-flex justify-content-center">Welcome!</h1>
                <h4 class="card-title">User is logged in!</h4>
                <button (click)="getMessage()">Message</button>
                <button (click)="getUser()">loggedInUser</button>
                <button routerLink="/create">Create User</button>
                <button (click)="logout()">Logout</button>

<h6>
  {{loggedInUser}}
</h6>

              </div>
            </div>
      </div>
  </div>
</div>
